@charset "UTF-8";
html {
  font-size: 62.5%; }

/* 共通
------------------------------------------------------------*/
/* reset
------------------------------------------------------------*/
* {
  list-style: none;
  box-sizing: border-box; }

body {
  background: #f9f8f6;
  margin: 0;
  padding: 0;
  /* header
  ------------------------------------------------------------*/
  /* contents
  ------------------------------------------------------------*/
  /* footer
  ------------------------------------------------------------*/ }
  body #header_in {
    margin: 0 auto;
    height: 80px;
    width: 80%;
    max-width: 960px;
    overflow: hidden; }
    body #header_in .logo {
      margin: 0;
      padding: 40px 0 0 0;
      height: 40px;
      bottom: 0;
      float: left; }
    body #header_in .pc-navi {
      margin: 0;
      padding: 60px 0; }
  body #contents {
    display: block;
    padding: 40px 0 0 0;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 960px; }
    body #contents #main {
      width: 74%;
      float: left; }
      body #contents #main #banner .banner {
        margin: 0 auto;
        padding: 0;
        width: 100%; }
        body #contents #main #banner .banner li {
          width: 100%; }
      body #contents #main #banner .owl-theme .owl-dots {
        text-align: left; }
        body #contents #main #banner .owl-theme .owl-dots .owl-dot span {
          display: block;
          border-radius: 0;
          width: 25px;
          height: 2px;
          margin: 0 8px 0 0;
          background-color: #aaaaaa; }
        body #contents #main #banner .owl-theme .owl-dots .owl-dot.active span, body #contents #main #banner .owl-theme .owl-dots .owl-dot:hover span {
          background: #9d1a2d; }
      body #contents #main #sub-header {
        width: 100%;
        margin: 0;
        padding: 0; }
        body #contents #main #sub-header .breadcrumbs {
          background-color: #e2ddd4;
          padding: 10px;
          height: 35px;
          margin: 0;
          padding: 8px 10px; }
          body #contents #main #sub-header .breadcrumbs li {
            margin: 0;
            display: inline-block;
            text-align: left;
            font-size: 12px; }
            body #contents #main #sub-header .breadcrumbs li a {
              color: #887f69;
              text-decoration: none; }
              body #contents #main #sub-header .breadcrumbs li a:after {
                content: '/';
                display: inline;
                height: 0;
                margin: 0 5px; }
            body #contents #main #sub-header .breadcrumbs li:last-child a:after {
              content: none; }
        body #contents #main #sub-header .cover img {
          width: 100%; }
      body #contents #main #items {
        margin: 5% 0 0 0;
        width: 100%; }
        body #contents #main #items .item-li {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0; }
          body #contents #main #items .item-li li {
            display: inline-block;
            width: 33%;
            padding: 10px 10px 18px 10px;
            background-color: #fff;
            margin-bottom: 1px; }
            body #contents #main #items .item-li li .item-photo {
              margin: 0; }
              body #contents #main #items .item-li li .item-photo img {
                width: 100%; }
            body #contents #main #items .item-li li p {
              font-size: 14px;
              font-size: 1.16667rem; }
        body #contents #main #items .list-control li {
          display: block;
          background-color: #887f69; }
        body #contents #main #items .list-control {
          padding: 0;
          height: 40px; }
          body #contents #main #items .list-control li {
            width: 120px;
            height: 100%;
            color: white;
            text-align: center;
            padding: 10px;
            display: block;
            background-color: #887f69; }
            body #contents #main #items .list-control li a {
              color: white;
              font-size: 18px;
              font-size: 1.5rem;
              font-weight: bold;
              text-decoration: none; }
          body #contents #main #items .list-control .back {
            float: left; }
          body #contents #main #items .list-control .next {
            float: right; }
        body #contents #main #items .product-info {
          padding: 40px 60px;
          background-color: #fff;
          overflow: hidden; }
          body #contents #main #items .product-info .table {
            margin: 20px 0;
            padding: 0;
            width: 100%;
            line-height: 42px;
            border-top: solid 1px #e2ddd4;
            border-bottom: solid 1px #e2ddd4;
            border-collapse: collapse; }
            body #contents #main #items .product-info .table th {
              vertical-align: middle;
              height: 40px;
              border-right: solid 1px #e2ddd4;
              color: #887f69;
              background-color: #f9f8f6;
              border-bottom: solid 1px #e2ddd4;
              text-align: center;
              min-width: 100px; }
              body #contents #main #items .product-info .table th:last-child {
                border-right: none; }
            body #contents #main #items .product-info .table .text {
              color: #887f69;
              padding: 0 10px;
              margin: 0;
              border-right: solid 1px #e2ddd4;
              border-bottom: solid 1px #e2ddd4;
              text-align: left;
              font-size: 14px;
              font-size: 1.16667rem;
              line-height: 20px; }
              body #contents #main #items .product-info .table .text:last-child {
                border-right: none; }
            body #contents #main #items .product-info .table .control {
              padding: 0 10px;
              margin: 0;
              border-right: solid 1px #e2ddd4;
              border-bottom: solid 1px #e2ddd4;
              text-align: center; }
              body #contents #main #items .product-info .table .control:last-child {
                border-right: none; }
          body #contents #main #items .product-info .product-name {
            border-bottom: 1px solid #e2ddd4;
            margin-bottom: 10px; }
            body #contents #main #items .product-info .product-name .name {
              font-size: 16px;
              font-weight: bold;
              margin: 0; }
            body #contents #main #items .product-info .product-name .code {
              margin: 0;
              padding-bottom: 10px;
              color: #b0b0b0; }
          body #contents #main #items .product-info .product-color-size {
            margin: 20px 0;
            padding: 10px 0;
            border-top: solid 1px #e2ddd4; }
          body #contents #main #items .product-info .product-price-quantity {
            float: left;
            width: 50%; }
            body #contents #main #items .product-info .product-price-quantity .price {
              padding: 0;
              border-top: solid 1px #e2ddd4; }
              body #contents #main #items .product-info .product-price-quantity .price p {
                font-style: italic;
                display: inline-block;
                border: none;
                text-align: left;
                padding: 0; }
              body #contents #main #items .product-info .product-price-quantity .price .price-n {
                font-size: 20px;
                color: #9d1a2d;
                margin-left: 30px; }
            body #contents #main #items .product-info .product-price-quantity .quantity {
              margin: 0;
              padding: 20px 0;
              border-top: solid 1px #e2ddd4; }
          body #contents #main #items .product-info .cart {
            float: right;
            border: none;
            padding: 0; }
          body #contents #main #items .product-info .product-description {
            padding: 0;
            width: 100%;
            border-top: solid 1px #e2ddd4;
            overflow: hidden; }
            body #contents #main #items .product-info .product-description .title {
              color: #887f69;
              font-size: 16px;
              font-weight: bold;
              border-bottom: solid 1px #887f69;
              padding: 10px 0; }
            body #contents #main #items .product-info .product-description .title-info {
              color: #887f69;
              font-weight: bold;
              font-size: 14px;
              margin: 20px 0; }
            body #contents #main #items .product-info .product-description .info {
              font-size: 12px;
              line-height: 1.8;
              margin: 0;
              padding: 0; }
    body #contents #guide .title_pc {
      padding: 20px 0 0 0; }
      body #contents #guide .title_pc img {
        width: 100%; }
    body #contents #guide .guide-li {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0; }
      body #contents #guide .guide-li li {
        width: 49.5%;
        text-align: left;
        margin: 0;
        padding: 10px 20px;
        background-color: #fff; }
        body #contents #guide .guide-li li .guide-sub-title {
          color: #887f69;
          font-weight: bold;
          font-size: 20px;
          font-size: 1.66667rem; }
        body #contents #guide .guide-li li .name {
          color: #887f69;
          font-weight: bold;
          font-size: 16px;
          font-size: 1.33333rem; }
    body #contents #sidebar {
      display: block;
      width: 22%;
      float: left;
      margin-left: 4%; }
      body #contents #sidebar .search {
        background-color: white;
        width: 100%;
        height: 92px;
        padding: 20px;
        margin: 0 0 10px 0; }
        body #contents #sidebar .search .search-box {
          background-color: #eeeeee;
          width: 100%;
          padding: 10px; }
          body #contents #sidebar .search .search-box .search-text {
            float: left;
            background-color: #eeeeee;
            border: none;
            font-style: italic;
            font-size: 1.4rem;
            width: 80%; }
          body #contents #sidebar .search .search-box .search_button {
            float: right; }
      body #contents #sidebar .side-unit {
        margin: 0 0 10px 0;
        padding: 0; }
        body #contents #sidebar .side-unit .side-list {
          margin: 0;
          padding: 0;
          width: 100%;
          position: relative;
          display: block;
          background-color: white; }
          body #contents #sidebar .side-unit .side-list li {
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0; }
            body #contents #sidebar .side-unit .side-list li:first-child {
              background-color: #887f69; }
              body #contents #sidebar .side-unit .side-list li:first-child a {
                display: block;
                position: relative;
                padding: 15px 20px 15px 10px;
                /* 左右にアイコン分を考慮した余白を指定 */ }
                body #contents #sidebar .side-unit .side-list li:first-child a:after {
                  position: absolute;
                  content: "";
                  top: 80%;
                  right: 10px;
                  width: 12px;
                  height: 24px;
                  margin-top: -12px;
                  background: url("../images/top/next_icon.png") top left no-repeat;
                  background-size: 8px 14px; }
            body #contents #sidebar .side-unit .side-list li a {
              display: block;
              position: relative;
              padding: 15px 30px 15px 30px;
              /* 左右にアイコン分を考慮した余白を指定 */
              font-weight: bold;
              border-bottom: 1px solid #ddd;
              color: #887f69;
              text-decoration: none;
              font-weight: bold;
              font-size: 12px; }
              body #contents #sidebar .side-unit .side-list li a:after {
                position: absolute;
                content: "";
                top: 50%;
                right: 10px;
                width: 8px;
                height: 16px;
                background: url("../images/top/next_icon_gray.png") top left no-repeat;
                background-size: 8px 14px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
            body #contents #sidebar .side-unit .side-list li:last-child a {
              border-bottom: none; }
        body #contents #sidebar .side-unit .side-cont {
          display: block;
          margin: 0;
          padding: 0;
          width: 100%;
          background-color: white; }
          body #contents #sidebar .side-unit .side-cont li {
            width: 100%;
            margin: 0;
            padding: 10px; }
            body #contents #sidebar .side-unit .side-cont li:first-child {
              width: 100%;
              height: 45px;
              background-color: #887f69;
              padding: 15px; }
            body #contents #sidebar .side-unit .side-cont li a.btn {
              display: block;
              width: 100%;
              text-align: center;
              background-color: white; }
  body #footer_in {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 960px; }
    body #footer_in .row {
      margin: 30px 0;
      padding: 0; }
      body #footer_in .row .retern-pagetop {
        text-align: right;
        padding: 10px 0;
        border-bottom: 1px solid #887f69; }
      body #footer_in .row .f-navi {
        width: 100%;
        text-align: center; }
        body #footer_in .row .f-navi .f-navi-list li {
          display: inline-block; }
          body #footer_in .row .f-navi .f-navi-list li a {
            color: #887f69;
            text-decoration: none;
            font-weight: bold; }
      body #footer_in .row .copyright-area {
        text-align: center; }
        body #footer_in .row .copyright-area p {
          color: #e2ddd4; }

/* メディアクエリ
------------------------------------------------------------*/
@media (max-width: 768px) {
  body #header_in {
    width: 100%;
    height: 180px; }
    body #header_in .logo {
      text-align: center;
      padding: 10px 0 5px 0;
      height: auto;
      margin: 0 auto;
      padding: 40px 0 20px 0;
      width: 100%; }
    body #header_in .pc-navi {
      display: none; }
    body #header_in .sp-navi {
      width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 20px 0;
      height: 200px; }
      body #header_in .sp-navi li {
        display: inline-block; }
  body #contents {
    width: auto;
    padding: 10px;
    margin: 0; }
    body #contents #main {
      width: auto;
      padding: 10px;
      margin: 0;
      float: none; }
      body #contents #main #items .product-info {
        padding: 20px; }
        body #contents #main #items .product-info .product-photo .main {
          width: 100%; }
        body #contents #main #items .product-info .product-photo .gallery {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0;
          margin-top: 0; }
          body #contents #main #items .product-info .product-photo .gallery li {
            width: 19%; }
            body #contents #main #items .product-info .product-photo .gallery li img {
              width: 100%; }
        body #contents #main #items .product-info .product-price-quantity {
          float: none;
          width: 100%; }
          body #contents #main #items .product-info .product-price-quantity .price {
            width: 100%; }
        body #contents #main #items .product-info .cart {
          float: none;
          padding: 10px 0;
          text-align: center;
          border-top: solid 1px #e2ddd4; }
      body #contents #main #items .title_sp {
        text-align: center;
        padding: 20px 0 0 0; }
        body #contents #main #items .title_sp img {
          width: 30%; }
      body #contents #main #items .title_pc {
        display: none; }
      body #contents #main #items .item-li {
        width: 100%;
        margin-right: 1%;
        margin-bottom: 1%; }
        body #contents #main #items .item-li:ntn-child(2n) {
          margin-right: 0; }
        body #contents #main #items .item-li li {
          width: 49.8%;
          padding: 10px 10px 18px 10px;
          background-color: #fff;
          margin-bottom: 2px; }
          body #contents #main #items .item-li li .item-photo {
            margin: 0; }
            body #contents #main #items .item-li li .item-photo img {
              width: 100%; }
    body #contents #guide {
      text-align: center; }
      body #contents #guide .title_pc {
        display: none; }
      body #contents #guide .guide-li {
        display: block; }
        body #contents #guide .guide-li li {
          width: auto;
          margin-bottom: 10px; }
    body #contents #sidebar {
      width: 100%;
      float: none;
      margin: 0;
      padding: 10px; }
      body #contents #sidebar .side-unit {
        margin: 0 0 10px 0;
        padding: 0; }
        body #contents #sidebar .side-unit .side-cont {
          display: block;
          margin: 0;
          padding: 0;
          background-color: white; }
          body #contents #sidebar .side-unit .side-cont .cont {
            margin: 0;
            display: flex; }
            body #contents #sidebar .side-unit .side-cont .cont p {
              text-align: left;
              padding: 0 10px 10px 10px;
              margin: 0;
              font-size: 14px;
              font-size: 1.16667rem; }
              body #contents #sidebar .side-unit .side-cont .cont p .btn {
                text-align: left;
                margin: 80px 0 0 0; }
  body #footer_in {
    margin: 0 auto;
    padding: 0;
    width: 95%; }
    body #footer_in .row {
      margin: 0;
      padding: 0; }
      body #footer_in .row .retern-pagetop {
        margin: 0 auto;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #887f69; } }
@media (min-width: 768px) {
  body #header_in .pc-navi {
    margin: 0;
    float: right; }
    body #header_in .pc-navi li {
      display: inline-block;
      padding: 0 10px 0; }
    body #header_in .pc-navi .pc-navi-icon {
      display: inline-block;
      padding: 0 5px; }
  body #header_in .sp-navi {
    display: none; }

  body #contents #main #items .product-info .product-name {
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2ddd4;
    margin-bottom: 20px; }
    body #contents #main #items .product-info .product-name .name {
      float: left;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 3px;
      height: 30px;
      margin-top: 0; }
    body #contents #main #items .product-info .product-name .code {
      float: right;
      height: 30px;
      margin-top: 4px;
      color: #b0b0b0; }
  body #contents #main #items .product-info .product-photo {
    overflow: hidden;
    width: 100%; }
    body #contents #main #items .product-info .product-photo .main {
      float: left;
      width: 71.5%; }
    body #contents #main #items .product-info .product-photo .gallery {
      float: right;
      width: 27.5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      margin-top: 0; }
      body #contents #main #items .product-info .product-photo .gallery li {
        width: 48%;
        margin-bottom: 3px; }
        body #contents #main #items .product-info .product-photo .gallery li img {
          width: 100%; }
        body #contents #main #items .product-info .product-photo .gallery li:nth-child(odd) {
          margin-right: 4px; }
  body #contents #main #items .title_pc {
    padding: 20px 0 0 0; }
    body #contents #main #items .title_pc img {
      width: 100%; }
  body #contents #main #items .title_sp {
    display: none; }

  body #contents #guide .title_sp {
    display: none; } }

/*# sourceMappingURL=style.css.map */
